<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.persistence.HoraireEquipeMapper">
    <select id="allHorairesEquipe" resultMap="mapDBModelHoraireEquipe">
        SELECT DISTINCT * FROM extern_validation.horaireEquipe
        WHERE unit_id = #{unit_id} and
              department_id = #{department_id} and
              trimester_id = #{trimester_id} and
              cipvalideur = #{cipvalideur};
    </select>

    <resultMap id="mapDBModelHoraireEquipe" type="ca.usherbrooke.fgen.api.business.DBmodelHoraireEquipe">
        <id property="no" column="no"/>
        <result property="membres" column="membres" jdbcType="VARCHAR"/>
        <result property="trimester_id" column="trimester_id"/>
        <result property="department_id" column="department_id"/>
        <result property="unit_id" column="unit_id"/>
    </resultMap>

    <insert id="insertHoraireEquipe">
        INSERT INTO extern_validation.horaireEquipe(trimester_id,
                                                    department_id,
                                                    unit_id,
                                                    cipvalideur,
                                                    grouping,
                                                    no,
                                                    hpassageprevue)
        VALUES (#{HE.validation.unit.trimester_id},
                #{HE.validation.unit.department_id},
                #{HE.validation.unit.unit_id},
                #{HE.validation.cipvalideur},
                #{HE.equipe.grouping},
                #{HE.equipe.no},
                #{HE.hpassageprevue});
    </insert>

    <update id="finirHoraireEquipe">
        UPDATE extern_validation.horaireEquipe
        SET estterminee = #{estterminee}
        WHERE trimester_id = #{trimester_id}
          AND department_id = #{department_id}
          AND unit_id = #{unit_id}
          AND cipvalideur = #{cipvalideur}
          AND no = #{no}
          AND grouping = #{grouping};
    </update>

    <insert id="remplirValidation">
        INSERT INTO extern_validation.horaireequipe(trimester_id,
                                                    department_id,
                                                    unit_id,
                                                    cipvalideur,
                                                    grouping,
                                                    no,
                                                    hpassageprevue)
        SELECT validation.trimester_id,
               validation.department_id,
               validation.unit_id,
               validation.cipvalideur,
               grouping,
                no,
                (SELECT DISTINCT heure_debut
                FROM extern_validation.unit_infoMadeUp
                WHERE trimester_id = 'E22'
                AND department_id = '1808'
                AND unit_id = 's6eapp1'
                AND cip_prof = 'boua2511')::interval + make_interval(mins =>((no-1)*EXTRACT(minutes from (SELECT Distinct dureeplagehoraire
                FROM extern_validation.validation))::INTEGER)) as hpassageprevue
        FROM extern_validation.validation INNER JOIN extern_validation.equipe_unit
        ON
            validation.trimester_id = equipe_unit.trimester_id AND
            validation.department_id = equipe_unit.department_id AND
            validation.unit_id = equipe_unit.unit_id AND
            validation.cipvalideur = equipe_unit.cip_prof
        WHERE validation.trimester_id = #{trimester_id}
            AND validation.department_id = #{department_id}
            AND validation.unit_id = #{unit_id}
            AND validation.cipvalideur = #{cipvalideur};
    </insert>

    <select id="findValidEtudiant" resultMap="mapDBmodelInfoEtudiant">
        SELECT DISTINCT extern_validation.unit_infoMadeUp.department_id,
                        extern_validation.unit_infoMadeUp.unit_id,
                        no,
                        grouping,
                        cip_prof
        FROM extern_validation.equipe_etudiants, extern_validation.unit_infoMadeUp
        WHERE cipetudiant = #{cipetudiant} AND
            unit_infomadeup.trimester_id = #{trimester_id} AND
            equipe_etudiants.trimester_id = unit_infomadeup.trimester_id AND
            equipe_etudiants.department_id = unit_infomadeup.department_id AND
            equipe_etudiants.unit_id = unit_infomadeup.unit_id AND
            (CURRENT_DATE between unit_infomadeup.debut::date and unit_infomadeup.fin::date)
    </select>

    <resultMap id="mapDBmodelInfoEtudiant" type="ca.usherbrooke.fgen.api.business.DBmodelInfoEtudiant">
        <id property="no" column="no"/>
        <result property="grouping" column="grouping"/>
        <result property="cip_prof" column="cip_prof"/>
        <result property="department_id" column="department_id"/>
        <result property="unit_id" column="unit_id"/>
    </resultMap>

    <select id="findValidProf" resultMap="mapDBmodelInfoProf">
        SELECT DISTINCT department_id,
                        unit_id,
                        debut,
                        fin,
                        datevalid,
                        heure_debut,
                        temps
        FROM extern_validation.unit_infomadeup
        WHERE cip_prof = #{cip_prof} AND
            trimester_id = #{trimester_id} AND
            (CURRENT_DATE between unit_infomadeup.debut::date and unit_infomadeup.fin::date)
    </select>

    <resultMap id="mapDBmodelInfoProf" type="ca.usherbrooke.fgen.api.business.DBmodelInfoProf">
        <id property="fin" column="fin"/>
        <result property="debut" column="debut"/>
        <result property="cip_prof" column="cip_prof"/>
        <result property="department_id" column="department_id"/>
        <result property="unit_id" column="unit_id"/>
        <result property="datevalid" column="datevalid"/>
        <result property="heure_debut" column="heure_debut"/>
        <result property="temps" column="temps"/>
    </resultMap>
</mapper>


