<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.persistence.HoraireEquipeMapper">
    <select id="allHorairesEquipe" resultMap="mapDBModelHoraireEquipe">
        SELECT * FROM extern_validation.horaireequipe;
    </select>

    <resultMap id="mapDBModelHoraireEquipe" type="ca.usherbrooke.fgen.api.business.DBmodelHoraireEquipe">
        <id property="no" column="no"/>
        <result property="array_agg" column="array_agg"/>
        <result property="trimester_id" column="trimester_id"/>
        <result property="department_id" column="department_id"/>
        <result property="unit_id" column="unit_id"/>
    </resultMap>

    <insert id="insertHoraireEquipe">
        INSERT INTO extern_validation.horaireEquipe(trimester_id,
                                                    department_id,
                                                    unit_id,
                                                    cipvalideur,
                                                    grouping,
                                                    no,
                                                    hpassageprevue)
        VALUES (#{HE.validation.unit.trimester_id},
                #{HE.validation.unit.department_id},
                #{HE.validation.unit.unit_id},
                #{HE.validation.cipvalideur},
                #{HE.equipe.grouping},
                #{HE.equipe.no},
                #{HE.hpassageprevue});
    </insert>

    <update id="finirHoraireEquipe">
        UPDATE extern_validation.horaireEquipe
        SET estterminee = TRUE
        WHERE trimester_id = #{HE.validation.unit.trimester_id}
          AND department_id = #{HE.validation.unit.department_id}
          AND unit_id = #{HE.validation.unit.unit_id}
          AND cipvalideur = #{HE.validation.cipvalideur}
          AND no = #{HE.equipe.no}
          AND grouping = #{HE.equipe.grouping};
    </update>

</mapper>


