<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.persistence.ValidationMapper">
    <insert id="insertValidation">
        INSERT INTO extern_validation.validation(trimester_id,
                                                 department_id,
                                                 unit_id,
                                                 cipvalideur,
                                                 local,
                                                 dureeplagehoraire)
        VALUES (#{trimester_id},
                #{department_id},
                #{unit_id},
                #{cipvalideur},
                #{local},
                CAST(#{dureeplagehoraire} AS INTERVAL));
    </insert>

    <insert id="updateValidation">
        UPDATE extern_validation.validation
        SET dureeplagehoraire = CAST(#{dureeplagehoraire} AS INTERVAL)
        WHERE trimester_id = #{trimester_id}
          AND department_id = #{department_id}
          AND unit_id = #{unit_id}
          AND cipvalideur = #{cipvalideur};
    </insert>

    <insert id="updateRetard">
        UPDATE extern_validation.validation
        SET retard = CAST(#{retard} AS INTERVAL)
        WHERE trimester_id = #{trimester_id}
          AND department_id = #{department_id}
          AND unit_id = #{unit_id}
          AND cipvalideur = #{cipvalideur};
    </insert>
</mapper>