.title{
    text-align: center;
}

.bouton{
    float: right;
    padding: 20px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
}

.table, tr, th{
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.duree{

}
